{% extends "default.html" %}

{% block content %}

      <h1>Profile</h1>

      <h1>Sign in</h1>

      <form method="POST" action="{{ url_for('application_profile') }}" id="user_profile_form" name="user_profile_form">
      	<p>Member since: {{ current_user.confirmed_at }}</p>

        <div class="form-group">
          <label for="email">Email address</label>
          <input class="text form-control" id="email" name="email" type="text" tabindex="1" value="{{ current_user.email }}" />
        </div>

        <div class="form-group">
          <label for="firstname">Name</label>
          <input class="text form-control" id="firstname" name="firstname" type="text" tabindex="2" value="{% if current_user.firstname %}{{ current_user.firstname }}{% endif %}" />
          <input class="text form-control" id="lastname" name="lastname" type="text" tabindex="3" value="{% if current_user.lastname %}{{ current_user.lastname }}{% endif %}" />
        </div>

        <div class="form-group">
          <label for="bio">Bio</label>
          <textarea id="bio" name="bio" tabindex="4">{% if current_user.bio %}{{ current_user.bio }}{% endif %}</textarea>
        </div>

        <hr />

        <div class="form-actions">
          <input type="submit" id="submit" name="submit" class="button large" value="Save Changes" tabindex="3" />
        </div>
      </form>

{% endblock %}