{% extends "default.html" %}

{% block header %}
		<header class="account-container">
      <div class="row">
        <div class="col-sm-10">

        </div>
        <div class="col-sm-2 text-right">
          <ul class="nav account">
            <li><a href="/logout" class="logout">Logout</a></li>
            <!-- <li><a href="" class="notifications"><span class="glyphicon glyphicon-bell"></span></a></li> -->
            <li><a href="http://app.commonscloud.org/">Explorer</a></li>
          </ul>
        </div>
      </div>
    </header>

{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <form method="POST" action="{{ url_for('user.user_profile_post') }}" class="card" id="user_profile_form" name="user_profile_form">
        <legend class="pull-left">Edit Profile <small class="pull-right">Member Since {{ member_since }}</small></legend>

        <fieldset>

          <div class="row">
            <div class="col-xs-12 text-center">
              <img class="decorate" src="{{ picture }}" alt="" title="" />
            </div>
          </div>

          <br/>

          <div class="form-group">
            <input class="form-control input-lg" id="name" name="name" type="text" tabindex="2" placeholder="Your name" value="{% if user.name %}{{ user.name }}{% endif %}" />
          </div>

          <div class="form-group">
            <input class="form-control input-lg" id="email" name="email" type="text" tabindex="1" placeholder="Email address" value="{{ user.email }}" />
          </div>

          <hr />

          <div class="form-actions">
            <input type="submit" id="submit" name="submit" class="button large pull-right" value="Save Changes" tabindex="3" />
            <a class="btn btn-link" href="{{ url_for_security('change_password') }}"><small>Change Password</small></a>
          </div>          
        </fieldset>

      </form>
    </div>
  </div>

{% endblock %}