{% extends "default.html" %}

{% block content %}

      <form method="POST" action="/oauth/authorize" class="card">
        <input type="hidden" name="client_id" value="{{ client.client_id }}">
        <input type="hidden" name="scope" value="{{ scopes|join(' ') }}">
        <input type="hidden" name="response_type" value="{{ response_type }}">
        {% if state %}
        <input type="hidden" name="state" value="{{ state }}">
        {% endif %}

        <legend>CommonsCloud would like to access</legend>

        <fieldset>
          <div class="form-group">
            {% for scope in scopes: %}
              scope: {{ scope }}
            {% endfor %}
          </div>
          
          <hr />

          <div class="form-actions form-group text-right">
            <input type="submit" id="confirm" name="confirm" class="button large" value="Allow Access" tabindex="3" />
            <a href="http://www.commonscloud.org/"><small>Nevermind</small></a>
          </div>
        </fieldset>
      </form>

{% endblock %}