{% extends "security/email/base-email.html" %}

{% block content %}

<h2 style="color: #3F3A38;display: block;font-family: Helvetica, Arial, sans-serif;font-size: 24px;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 0;margin-left: 0;text-align: left;">Hi <a style="color: #13B3CC;" href="mailto:{{ user.email }}">{{ user.email }}</a>!</h2>
<br>
Alright, let's get that password reset
<br>
<br>
{% if security.confirmable %}
To reset your password

<p style="text-align: center; padding-top:24px;padding-bottom: 16px;">
  <a style="background-color: #40ac18;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border: 1px solid #40ac18;color: #fff;display: inline-block;font-size: 14px;font-weight: bold;font-style: normal;padding: 6px 24px 7px;text-decoration: none;text-align: center;text-shadow: none;border-bottom: #30940c 2px solid;" href="{{ reset_link|replace('http://127.0.0.1:8000/', 'http://api.commonscloud.org/') }}">Click here to reset your password</a>

  {{ reset_link }}
  http://api.commonscloud.org/{{ reset_link }}

</p>

{% endif %}
<br>
<br>
Thanks,
<br>
<strong>The CommonsCloud Team</strong>
<br>
<br>
<br>

{% endblock %}
