{% extends "default.html" %}

{% block content %}

      <form class="card">
        <h1 class="text-center" style="margin-bottom: 32px; letter-spacing: 0.025em; font-size: 28px;">Your account was created!</h1>
        <div class="form-group">
          <p>Go to your inbox, click the "Confirm email address" link in the CommonsCloud Support email, and begin using CommonsCloud.</p>
          <p>If it's been a few minutes and you haven't recieved the Confirmation email, <a href="{{ url_for_security('send_confirmation') }}">we can resend it to you</a>.</p>
        </div>
      </form>

{% endblock %}
