{% extends "default.html" %}

{% set breadcrumbs = [
  {
    'url': url_for('applications.account_edit'),
    'name': 'Your Information'
  },
  {
    'url': '',
    'name': 'Change your password',
    'active': True
  }
] %}

{% block content %}

<div class="row">

  {% with active_page=active_page %}
    {% include "system/navigation.html" %}
  {% endwith %}

  <section class="col-sm-9 page-content">

    <header>
      {% with breadcrumbs=breadcrumbs %}
        {% include "parts/breadcrumbs-default.html" %}
      {% endwith %}
    </header>
    
    <div class="inner">

      {% include "parts/messages-default.html" %}

      <form method="POST" action="{{ url_for_security('change_password') }}" id="change_password_form" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        <div class="form-group">
          <label for="password" class="control-label">Current password</label>
          <input class="password form-control" id="password" name="password" type="password" />
          <p class="help-block">Please type in your existing password</p>
        </div>
        <div class="form-group">
          <label for="new_password" class="control-label">New password</label>
          <input class="password form-control" id="new_password" name="new_password" type="password" />
        </div>
        <div class="form-group">
          <label for="new_password_confirm" class="control-label">Re-type your new password</label>
          <input class="password form-control" id="new_password_confirm" name="new_password_confirm" type="password" />
        </div>
        <hr />
        <div class="form-actions">
          <input type="submit" id="submit" name="submit" class="button large pull-right" value="Sign in" />
        </div>
      </form>
    </div>

  </section>

</div>
      

{% endblock %}

