{% extends "default.html" %}

{% block content %}

    <h2>User</h2>

    <table class="table table-striped entries">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Email</th>
          <th>Active</th>
        </tr>
      </thead>
      <tfoot>
          <tr>
              <td colspan="5">
                  <p><a class="btn btn-info btn-mini pull-right" href="">Add user</a></p>
              </td>
          </tr>
      </tfoot>
      <tbody>
        {%- for user in user %}
          <tr>
            <td><p>{{ user._id }}</p></td>
            <td><p>{{ user.name }}</p></td>
            <td><p>{{ user.email|safe }}</p></td>
            <td><p>{{ user.active }}</p></td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5"><p class="text-center">There are currently no user.</p></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
 
{% endblock %}

