{% extends "default.html" %}

{% block content %}

{% from "security/_macros.html" import render_field_with_errors, render_button %}
<form method="POST" action="{{ url_for_security('forgot_password') }}" id="forgot_password_form" name="forgot_password_form" class="card">
  {% include "security/_messages.html" %}
  {{ forgot_password_form.hidden_tag() }}
  <legend>Forgot your password?</legend>
  {{ render_field_with_errors(forgot_password_form.email) }} 
  {{ render_button(forgot_password_form.submit, value="Reset Password") }}
</form>
<!--       <form method="POST" action="{{ url_for_security('forgot_password') }}" id="forgot_password_form" name="forgot_password_form" class="card">
        {{ forgot_password_form.hidden_tag() }}
        <legend>Forgot your password?</legend>
        <fieldset>
          <div class="form-group">
            <label for="email" class="control-label">Email address</label>
            <input class="text form-control" id="email" name="email" type="text" />
            <p class="help-block"><a href="{{ url_for('security.register') }}">Don‘t have an account yet?</a></p>
          </div>
          <hr />
          <div class="form-actions">
            <input type="submit" id="submit" name="submit" class="button large pull-right" value="Reset Password" />
            <a href="{{ url_for_security('login') }}"><small>Nevermind</small></a>

          </div>
        </fieldset>
      </form>
 -->      
{% endblock %}

