{% extends "default.html" %}

{% block content %}

      <form method="POST" action="{{ url_for_security('register') }}" id="register_user_form" name="register_user_form" class="card">
        {{ register_user_form.hidden_tag() }}
        <h1 class="text-center" style="margin-bottom: 32px; letter-spacing: 0.025em; font-size: 28px;">Create your account</h1>

        {% include "security/_messages.html" %}

{%- with messages = get_flashed_messages(with_categories=true) -%}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endwith %}

        <div class="form-group">
          <label for="email" class="control-label">Email Address</label>
          <input class="text form-control" id="email" name="email" type="email" data-trigger="change" data-required="true" />
        </div>

        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <input class="password form-control" id="password" name="password" type="password" data-equalto="#password" data-required="true" />
        </div>

        <div class="form-group">
          <label for="password_confirm" class="control-label">Confirm Password</label>
          <input class="password form-control" id="password_confirm" name="password_confirm" type="password" data-equalto="#password" data-required="true" />
        </div>

        <div class="form-actions text-center">
          <input type="submit" class="button large" value="Create Account" />
          <p class="help-block" style="margin-top: 16px;">By clicking "Create Account" you are agreeing to our <a href="/terms">Terms of Service</a></p>
        </div>
      </form>

{% endblock %}
