{% extends "default.html" %}

{% block content %}

      <form method="POST" action="{{ url_for_security('reset_password', token=reset_password_token) }}" class="form-card" id="reset_password_form" name="reset_password_form">
        {{ reset_password_form.hidden_tag() }}
        <legend>Change Password</legend>
        <fieldset>
          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input class="password form-control" id="password" name="password" type="password" />
          </div>

          <div class="form-group">
            <label for="password_confirm" class="control-label">Retype Password</label>
            <input class="password form-control" id="password_confirm" name="password_confirm" type="password" />
          </div>
          
          <hr />

          <div class="form-actions">
            <input type="submit" id="submit" name="submit" class="button large pull-right" value="Reset Password" />
          </div>
        </fieldset>
      </form>
      
{% endblock %}

