{% extends "default.html" %}

{% block content %}

{% from "security/_macros.html" import render_field_with_errors, render_button %}
{% include "security/_messages.html" %}
<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" id="reset_password_form" name="reset_password_form" class="card">
  {{ reset_password_form.hidden_tag() }}
  <legend>Change Password</legend>
  {{ render_field_with_errors(reset_password_form.password) }}
  {{ render_field_with_errors(reset_password_form.password_confirm) }}
  {{ render_button(reset_password_form.submit, value='Reset Password') }}
</form>

<!--       <form method="POST" action="{{ url_for_security('reset_password', token=reset_password_token) }}" id="reset_password_form" name="reset_password_form" class="card">
        {{ reset_password_form.hidden_tag() }}
        <legend>Change Password</legend>
        <fieldset>
          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input class="password form-control" id="password" name="password" type="password" />
          </div>

          <div class="form-group">
            <label for="password_confirm" class="control-label">Retype Password</label>
            <input class="password form-control" id="password_confirm" name="password_confirm" type="password" />
          </div>
          
          <hr />

          <div class="form-actions">
            <input type="submit" id="submit" name="submit" class="button large pull-right" value="Reset Password" />
            <a href="{{ url_for_security('login') }}"><small>Nevermind</small></a>
          </div>
        </fieldset>
      </form>
       -->
{% endblock %}

