{% extends "notifications/commonscloud-base.html" %}

{% block content %}

<h2 style="color: #3F3A38;display: block;font-family: Helvetica, Arial, sans-serif;font-size: 24px;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 0;margin-left: 0;text-align: left;">A new crowd-sourced feature was submitted!</h2>
<br>
We wanted to tell you that a user submitted a new Feature that needs to be moderated.<br>
<br>
Login now to moderate the Feature https://app.commonscloud.org/applications

data
{{ data }}
<br>
<br>
Thanks,
<br>
<strong>The CommonsCloud Team</strong>
<br>
<br>
<br>

{% endblock %}
