{% extends "notifications/commonscloud-base.html" %}

{% block content %}

<h2 style="color: #3F3A38;display: block;font-family: Helvetica, Arial, sans-serif;font-size: 24px;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 0;margin-left: 0;text-align: left;">Your import was successful!</h2>
<br>
We wanted to tell you the CSV file of Features you uploaded was imported successfully.<br>
<br>
<br>
<br>
<br>
Thanks,
<br>
<strong>The CommonsCloud Team</strong>
<br>
<br>
<br>

{% endblock %}
